.button {
  border-color: var(--text-accent);
  border-width: 6px;
  border-style: solid;

  display: block;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 18px;
  transition: all 200ms ease;
}

.button:hover,
.button:active {
  border-color: var(--text-dark);
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 25vh;
  max-height: 100px;
  font-size: 2rem;
  text-decoration: none;
}

.icon {
  display: inline-flex;
  align-items: center;
  transition: all 200ms ease;
  margin: 0 1em;
}

.icon:hover,
.icon:active {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
