/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../static/fonts/roboto/roboto-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../static/fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../static/fonts/roboto/roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/roboto/roboto-regular.woff') format('woff'), /* Modern Browsers */
       url('../../static/fonts/roboto/roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../static/fonts/roboto/roboto-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* gilbert-bold - latin */
@font-face {
  font-family: 'Gilbert';
  font-style: normal;
  font-weight: 400;
  src: url('../../static/fonts/gilbert/gilbert-bold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../static/fonts/gilbert/gilbert-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../static/fonts/gilbert/gilbert-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../static/fonts/gilbert/gilbert-bold.woff') format('woff'), /* Modern Browsers */
       url('../../static/fonts/gilbert/gilbert-bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../static/fonts/gilbert/gilbert-bold.svg#GilbertBoldPreview5') format('svg'); /* Legacy iOS */
}

:root {
  /* 
  Sets the color palette to be used.
  To ensure colors blend nicely together and avoid
  complexity, forcing myself to only use these colors.
  */
  --text-light: #ffffff;
  --text-dark: #373F49;
  --text-accent:#3f85da;
  --text-shade:#285285;

  --background-light: #fff;
  --background-dark: #eee;
  --background-darker: #25292e;
  /* 
  Sets the fonts to be used.
  To ensure fonts blend together and avoid
  complexity.
  */
  --brand-font: 'Gilbert', sans-serif;
  --main-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.65;
  color: var(--text-dark);
  background: var(--background-dark);
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.brandFont {
  font-family: var(--brand-font);
}

.mainFont {
  font-family: var(--main-font);
}

h1,
h2,
h3 {
  font-family: var(--brand-font);
  font-size: 2em;
  font-weight: normal;
}

::selection {
  color: var(--text-light);
  background-color: var(--text-accent);
}

a {
  color: var(--text-dark);
  transition: all 200ms ease;
}

a:hover, a:active {
  color: var(--text-accent);
  text-decoration: none;
}

p a {
  color: var(--text-accent);
  transition: all 200ms ease;
}

p a:hover, p a:active {
  color: var(--text-shade);
  text-decoration: none;
}

.content {
  background: var(--background-light);
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  height: 100%;
  padding: 3vmin 0;
}

.break {
  margin: 0 auto;
  padding: 1vmin 0;
}

/**
 * article grid
 */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  text-align: center;
  padding: 0 0 0.4em 0;
  margin-bottom: 2vmin;
  border-bottom: 1px solid var( --background-dark);
}

hr {
  padding: 0 0 0.4em 0;
  border-top: 1px solid var( --background-dark);
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

/**
 * Blockquote style
 */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}