.hero {
  position: relative;
	background: #e2e2e2;
  color: #fff;
  text-align: center;
}

/*
 * Defines a gradient with all colors.
 */
.heroGradient {
  position: relative;
	background: linear-gradient(-45deg, #ee7752, #963484, #3066BE, #2AF5FF);
  animation: gradient 15s ease infinite;
	background-size: 400% 400%;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

/*
 * Defines a gradient with only blue colors.
 */
.heroGradientColorBlue {
  position: relative;
	background: linear-gradient(-45deg,#3066BE, #2AF5FF);
  animation: gradient 15s ease infinite;
	background-size: 400% 400%;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

/*
 * Defines a gradient with only purple colors.
 */
.heroGradientColorPurple {
  position: relative;
	background: linear-gradient(-45deg, #963484, #3066BE);
  animation: gradient 15s ease infinite;
	background-size: 400% 400%;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

/*
 * Defines a gradient with only orange colors.
 */
.heroGradientColorOrange {
  position: relative;
	background: linear-gradient(-45deg, #ee7752, #963484);
  animation: gradient 15s ease infinite;
	background-size: 400% 400%;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.heroImage {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: auto;
  max-height: 400px;
  width: auto;
  margin: auto;
}

.heroImageGradient {
  filter: blur(3px);

  opacity: 0.3;

  height: auto;
  max-height: 400px;
  width: auto;
  margin: auto;
}

.heroText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  max-height: 400px;
  font-size: 5em;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}