.hero {
  position: relative;
	background: #e2e2e2;
  color: #fff;
  text-align: center;
}

.heroGradient {
  position: relative;
	background: linear-gradient(-45deg, #ee7752, #963484, #3066BE, #2AF5FF);
  animation: gradient 15s ease infinite;
	background-size: 400% 400%;
  color: #fff;
  text-align: center;
}

.heroImage {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: auto;
  max-height: 400px;
  width: auto;
  margin: auto;
}

.heroText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  max-height: 400px;
  font-size: 5em;
  overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}