/* Sets the height for the containers. */
:root {
  --height: 350px;
}

.hero {
  position: relative;
  color: #fff;

  /* Set's containers height. */
  height: var(--height);
  max-height: var(--height);

  /* Ensures there is no overflow. */
  overflow: hidden;
}

/*
 * Defines a gradient with all colors.
 */
.heroGradient {
  background: linear-gradient(-45deg, #fbf5e6, #B6D880, #F9E483, #489cda);
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  height: 100%;
  width: 100%;
}

.heroSolid {
  background: #fff;
}

.heroImage {
  /* Ensures the image isn't squished. */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  /* Center's the image. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Set's containers height. */
  height: var(--height);
  max-height: var(--height);
}

.heroImageGradient {
  /* Set's containers height. */
  height: var(--height);
  max-height: var(--height);

  /* Center's the image. */
  margin: auto;
}

.heroImageGradientBlurred {
  /* Blurs the image. */
  filter: blur(3px);
  transform: scale(1.05);

  /* Set's containers height. */
  height: var(--height);
  max-height: var(--height);

  /* Center's the image. */
  margin: auto;
}

.heroOverlayText {
  /* 
   * Set's font size 
   * relative to container size. 
   */
  font-size: 4em;

  /* Center's text */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroText {
  /* 
   * Set's font size 
   * relative to container size. 
   */
  font-size: 4em;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  /* Set's containers height. */
  height: var(--height);
  max-height: var(--height);
}

/* Gradient background animation. */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
