 .previewBackground {
  overflow: hidden;
}

.previewTitle {
  font-size: 1.5em;
}

.previewBody {
  opacity: 1;
  font-size: 1em;
}

.previewDetails {
  opacity: 0.75;
}

.previewImg {
  opacity: 1;
}